@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


:root {
	--background-color: #121212;
	--background-color2: #232323;
	--blur: blur(10px);
	--fonts-color: #fff;
	--links-color: #fff;
	--links-hover: #ffd700;
	--font: 'Comfortaa';
	--transition: 200ms ease-in-out;
	--shadows: 0 0 10px 1px rgba(0, 0, 0, 0.8);
	--shadows-text: 1px 1px rgba(0, 0, 0, 0.4);
}

iframe {
	width: 300px;
	height: 450px;
	border: none;
	border-radius: 23px;
	overflow: hidden;
	position: fixed;
	right: 0;
	bottom: 0;
	box-shadow: var(--shadows);
	opacity: 0;
	z-index: -20;
	visibility: hidden;
	transition: var(--transition);
}

#iframe-btn {
	width: 55px;
	height: 55px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	border: 0;
	padding: 10px;
	border-radius: 50%;
	box-shadow: var(--shadows);
	background: linear-gradient(30deg, #581B98 1%, #9C1DE7 85%);
	cursor: pointer;
	z-index: 120;
	color: #fff;
}

#iframe-btn:active, #back-btn:active {
	color: #e1e1e1;
}
.iframe-active {
	right: 15px;
	bottom: 75px;
	opacity: 1;
	z-index: 30;
	visibility: visible;
	transition: var(--transition);
}





#back-btn {
	width: 55px;
	height: 55px;
	position: fixed;
	left: 10px;
	bottom: 10px;
	border: 0;
	padding: 10px;
	border-radius: 50%;
	box-shadow: var(--shadows);
	background: linear-gradient(30deg, #581B98 1%, #9C1DE7 85%);
	cursor: pointer;
	z-index: 120;
	color: #fff;
}






body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--fonts-color);
	font-family: var(--font);
	font-weight: 700;
	cursor: context-menu;
	-webkit-user-select: none;
	-moz-user-select: none;
}

section {
	position: fixed;
	top: calc(50% - 20px);
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.chose-boxes {
	height: 370px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.chose-box {
	position: relative;
	outline: none;
	width: 250px;
	height: 350px;
	margin: 15px 15px;
	border-radius: 20px;
	background-color: var(--background-color2);
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: transparent;
	box-shadow: var(--shadows);
	transition: var(--transition);
}

.chose-box:focus,  .chose-box:active, .chose-box:hover {
	width: 271.42px;
	height: 380px;
	margin: 0 4.24px;
	background-color: var(--background-color2);
	text-shadow: var(--shadows-text);
	transition: var(--transition);
	
}



.green {
	background-image: url('../images/wolontariusz.jpg');
}


.blue {
	background-image: url('../images/potrzebujacy.jpg');
}


.login {
	background-image: url('../images/login.jpg');
}
.register {
	background-image: url('../images/register.jpg');
}

.login2 {
	background-image: url('../images/login2.jpg');
}
.register2 {
	background-image: url('../images/register2.jpg');
}



.green:focus, .green:active, .green:hover {
	color: #38ff18;	
	transition: var(--transition);
}

.blue:focus, .blue:active, .blue:hover {
	color: #18e0ff;
	transition: var(--transition);
}

.in-chose-box {
	border-radius: 3px;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px 10px;
	margin: -5px -5px;
	backdrop-filter: saturate(0%);
	transition: var(--transition);
}

.chose-box > h1 {
	position: relative;
	bottom: -104%;
	margin: 0;
	padding: 0;
}

.chose-box:focus > .in-chose-box, .chose-box:hover > .in-chose-box {
	border-radius: 5px;
	backdrop-filter: saturate(75%);
	transition: var(--transition);
}


.chose-box:active > .in-chose-box {
	border-radius: 5px;
	backdrop-filter: saturate(50%);
	transition: var(--transition);
}




.sections {
	display: none;
}




















.loader {
	border: 3px solid #fff;
	border-radius: 50%;
	border-top: 3px solid transparent;
	width: 12.5px;
	height: 12.5px;
	-webkit-animation: spin 0.7s linear infinite; /* Safari */
	animation: spin 0.7s linear infinite;
}
.loader2 {
	position: fixed;
	top: 50%;
	transform: translate(-50%);
	border: 5px solid #fff;
	border-radius: 50%;
	border-top: 5px solid transparent;
	width: 40px;
	height: 40px;
	margin-top: -25px;
	-webkit-animation: spin 0.7s linear infinite; /* Safari */
	animation: spin 0.7s linear infinite;
	opacity: 1;
	transition: var(--transition);
}

.loader-hidden {
	opacity: 0;
	visibility: hidden;
	transition: var(--transition);
}
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	50% {

	}

	100% {
		transform: rotate(360deg);
	}
}


#profile > div {
	display: flex;
	justify-content: center;
}








#loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
}






#alert {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	height: min-content;
	width: max-content;
	background-color: gray;
	color: #fff;
	border-radius: 10px;
	padding: 8px;
	box-shadow: var(--shadows);
	opacity: 0;
	transition: var(--transition);
}

#alert h3{
	padding: 0;
	margin: 0;
    font-weight: 300;
    font-size: 0.6rem;
	transition: var(--transition);

}

.alert-visible {
	top: 10px !important;
	opacity: 1 !important;
	transition: var(--transition);
}
.alert-visible h3{
    font-weight: 400 !important;
    font-size: 1rem !important;
	transition: var(--transition);

}
















#posts {
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}



#postsList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 900px;
}

.post {
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 300px;
	word-break: break-word; /*zawija s³owa*/
	background-color: var(--background-color2);
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
}



#tops {
	flex-direction: column;
	flex-wrap: nowrap;
}

#topsList {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.top {
	width: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 10px;

}

.top i {
	padding-right: 5px;
}








form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}



#test {
	position: fixed;
	top: 10px;
	left: 10px;
	opacity: 0.2;
}

#test > h2{
	margin: 0;
}

#test > p{
	margin: 0;
	padding: 3px;
}


#profile, #tops, form {
	background-color: var(--background-color2);
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
}